.glass-container{
    display:flex;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 254, 254,0.5);
    box-shadow: 6px 6px 20px var(--shadow);
    padding-left: 1rem;
    padding-right: 1rem;
    background-color:var(--tint);
    width: 95%;
    max-width: 125rem;
}
#effect-container{
    border-style: solid;
    width: 100vw;
    height: 32.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}