:root {
    /* Colors */
    --bg:rgb(233, 255, 247);
    --primary: rgb(158, 197, 255);
    --secondary: rgb(80, 88, 244);
    --shadow: rgba(0,0,0,0.5);
    --tint:rgba(0, 115, 255, 0.15);
    /* Fonts/Sizes */
    --primary-font: Nunito;
    --secondary-font: Bitcount Grid Double;
    --font-color:black;
    font-size: 10px;

    img{
        filter: invert(0%);
    }
}
[theme=dark]{
    --bg: rgb(8, 33, 59);
    --primary:rgb(255, 206, 169);
    --secondary:rgb(255, 200, 100);
    --shadow: rgba(255,255,255,0.5);
    --tint: rgba(255,255,255,0.19) ;
    /* Fonts/Sizes */
    --primary-font: Nunito;
    --secondary-font: Bitcount Grid Double;
    --font-color:white;
    font-size: 10px;

    img{
        filter: invert(100%);
    }
}
body{
    margin:0px;
    padding:0px;
    background-color: var(--bg);
    color: var(--font-color);
}
.mode{
    height: 8rem;
    width: 4rem;
    cursor: pointer;
    position: relative;
    
}
.mode-icon{
    max-width: 4rem; 
    height:auto; 
    position:absolute; 
    top:25%; 
    left:0px; 
    right:0px;
    display: none;
    transition: transform 0.3s ease;
}
.mode-icon:hover{
    transform: scale(1.5);
}
.mode-icon.visible{
    display: inline-block;
}
.mode-icon.visible.appear{
    animation: appear 0.8s ease;
}
.mode-icon.disappear{
    animation: disappear 0.8s ease;
}
@keyframes appear{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes disappear{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-360deg);
    }
}