.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0);
    width: 100vw;
    z-index:2;
    height: fit-content;
    margin-top: 11rem;
}
.project-collections{
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    max-width: 95%;
    width: 95%;
}
.project-element{
    border-radius: 4rem;
    display:flex;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 254, 254,0.5);
    box-shadow: 6px 6px 20px var(--shadow);
    padding-left: 1rem;
    padding-right: 1rem;
    background-color:var(--tint);
    max-width: 125rem;

    flex-direction: column;
    height: 60rem;
    width: 32rem;
    justify-content: space-around;
    align-items: center;
    position:relative;
}
.github-redir{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    transition: all 0.3s ease;
}
.github-redir:hover{
    filter: invert(100%);
}
.project-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}
.pic{
    object-fit: cover;
    width: 25rem;
    height: 25rem;
    border-radius: 5rem;
    border-style: solid;
    border-color: gold;
    transition: all 0.3s ease;
    cursor: pointer;
}
.pic:hover{
    transform:scale(1.01);
    box-shadow: 2px 2px 20px var(--shadow);
}
.project-name{
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: 800;
    align-items: center;
    color: var(--secondary);
    width: 100%;
}
.project-description{
    font-family: Nunito;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.project-tech{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
}